In [7]:
import pandas as pd
import numpy as np
import pickle

In [14]:
f = open('KNN_Mean_Pred_Rating_Test.pckl', 'rb')
KNN_predict_rating_result = pickle.load(f)
f.close()

In [15]:
len(KNN_predict_rating_result)

19962

In [16]:
test = pd.read_csv('../the-movies-dataset/ratings_test.csv')

In [17]:
test['KNN-pred'] = KNN_predict_rating_result.values()    
test

       userId       id  rating  movieId   timestamp  movieIndex  KNN-pred
0           0   9909.0     2.5       31  1260759144          30  2.062379
1           0    847.0     2.0     2193  1260759198        1739  2.001722
2           0     97.0     4.0     2105  1260759139        1661  2.269208
3           0  11216.0     4.0     1172  1260759205         927  3.109575
4           0   1103.0     2.0     1129  1260759185         903  2.223845
...       ...      ...     ...      ...         ...         ...       ...
19957     670  11310.0     2.5      432  1063503739         381  2.671948
19958     670    712.0     3.0      357  1063503998         322  3.544623
19959     670    630.0     4.0      919  1065149458         737  4.099659
19960     670    687.0     4.0       36  1065149314          34  3.822067
19961     670    530.0     3.0     1223  1064891236         975  4.005538

[19962 rows x 7 columns]

In [20]:
se = 0
for index, row in test.iterrows():
    e = row.rating - row['KNN-pred']
    se += e*e
np.sqrt(se/test.shape[0])

0.9271581336753352

In [13]:
f = open('tf_idf_pred_rating.pckl', 'rb')
TF_IDF_predict_rating_result = pickle.load(f)
f.close()

In [22]:
test['TF-IDF-pred'] = TF_IDF_predict_rating_result    
test

,userId,id,rating,movieId,timestamp,movieIndex,KNN-pred,TF-IDF-pred
0,0,9909.0,2.5,31,1260759144,30,2.062379,2.426854
1,0,847.0,2.0,2193,1260759198,1739,2.001722,2.423113
2,0,97.0,4.0,2105,1260759139,1661,2.269208,2.419296
3,0,11216.0,4.0,1172,1260759205,927,3.109575,2.431504
4,0,1103.0,2.0,1129,1260759185,903,2.223845,2.421217
...,...,...,...,...,...,...,...,...
19957,670,11310.0,2.5,432,1063503739,381,2.671948,3.872884
19958,670,712.0,3.0,357,1063503998,322,3.544623,3.845205
19959,670,630.0,4.0,919,1065149458,737,4.099659,3.941357
19960,670,687.0,4.0,36,1065149314,34,3.822067,3.878385
19961,670,530.0,3.0,1223,1064891236,975,4.005538,3.902813

In [23]:
se = 0
for index, row in test.iterrows():
    e = row.rating - row['TF-IDF-pred']
    se += e*e
np.sqrt(se/test.shape[0])

0.9531447814994176

In [26]:
combine = []

for index, row in test.iterrows():
    sum = 0.6*row['KNN-pred'] + 0.4*row['TF-IDF-pred']
    combine.append(sum)

In [27]:
test['combine'] = combine

In [28]:
test

,userId,id,rating,movieId,timestamp,movieIndex,KNN-pred,TF-IDF-pred,combine
0,0,9909.0,2.5,31,1260759144,30,2.062379,2.426854,2.208169
1,0,847.0,2.0,2193,1260759198,1739,2.001722,2.423113,2.170278
2,0,97.0,4.0,2105,1260759139,1661,2.269208,2.419296,2.329243
3,0,11216.0,4.0,1172,1260759205,927,3.109575,2.431504,2.838346
4,0,1103.0,2.0,1129,1260759185,903,2.223845,2.421217,2.302794
...,...,...,...,...,...,...,...,...,...
19957,670,11310.0,2.5,432,1063503739,381,2.671948,3.872884,3.152322
19958,670,712.0,3.0,357,1063503998,322,3.544623,3.845205,3.664856
19959,670,630.0,4.0,919,1065149458,737,4.099659,3.941357,4.036338
19960,670,687.0,4.0,36,1065149314,34,3.822067,3.878385,3.844594
19961,670,530.0,3.0,1223,1064891236,975,4.005538,3.902813,3.964448

In [29]:
se = 0
for index, row in test.iterrows():
    e = row.rating - row['combine']
    se += e*e
np.sqrt(se/test.shape[0])

0.8997408474929026