# Movies Imformation - Retrieval

## Librarys

In [1]:
import os 
import nltk
import os
import string
import numpy as np
import copy
import pandas as pd
import pickle
import re
import math

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from collections import Counter
from num2words import num2words
from nltk.stem import WordNetLemmatizer
# Lemmatize with POS Tag
from nltk.corpus import wordnet
from num2words import num2words
from sklearn.metrics.pairwise import linear_kernel

title = "stories"
alpha = 0.4

## Import DataSet

In [2]:
smd = pd.read_csv('../the-movies-dataset/movies_metadata_equal_ratings.csv')
smd['description'] = smd['description'].fillna('')
smd['title'] = smd['title'].fillna('')
N = len(smd)

In [3]:
smd

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description,year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"['Animation', 'Comedy', 'Family']",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"Led by Woody, Andy's toys live happily in his ...",1995
1,False,NaN,65000000,"['Adventure', 'Fantasy', 'Family']",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,When siblings Judy and Peter discover an encha...,1995
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"['Romance', 'Comedy']",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,A family wedding reignites the ancient feud be...,1995
3,False,NaN,16000000,"['Comedy', 'Drama', 'Romance']",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"Cheated on, mistreated and stepped on, the wom...",1995
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,['Comedy'],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Just when George Banks has recovered from his ...,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9020,False,"{'id': 286023, 'name': 'Sharknado Collection',...",0,"['Comedy', 'Horror', 'Science Fiction']",http://www.syfy.com/sharknado4,390989,tt4831420,en,Sharknado 4: The 4th Awakens,The new installment of the Sharknado franchise...,...,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"What happens in Vegas, stays in Vegas. Unless ...",Sharknado 4: The 4th Awakens,False,4.3,88.0,The new installment of the Sharknado franchise...,2016
9021,False,NaN,8000000,['Drama'],NaN,159550,tt0255313,en,The Last Brickmaker in America,A man must cope with the loss of his wife and ...,...,85.0,[],Released,NaN,The Last Brickmaker in America,False,7.0,1.0,A man must cope with the loss of his wife and ...,2001
9022,False,NaN,1000000,"['Thriller', 'Romance']",NaN,392572,tt5165344,hi,रुस्तम,"Rustom Pavri, an honourable officer of the Ind...",...,150.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Decorated Officer. Devoted Family Man. Defendi...,Rustom,False,7.3,25.0,"Rustom Pavri, an honourable officer of the Ind...",2016
9023,False,NaN,15050000,"['Adventure', 'Drama', 'History', 'Romance']",NaN,402672,tt3859980,hi,Mohenjo Daro,"Village lad Sarman is drawn to big, bad Mohenj...",...,155.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,NaN,Mohenjo Daro,False,6.7,26.0,"Village lad Sarman is drawn to big, bad Mohenj...",2016
9024,False,NaN,0,"['Documentary', 'Music']",http://www.thebeatlesliveproject.com/,391698,tt2531318,en,The Beatles: Eight Days a Week - The Touring Y...,"The band stormed Europe in 1963, and, in 1964,...",...,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The band you know. The story you don't.,The Beatles: Eight Days a Week - The Touring Y...,False,7.6,92.0,"The band stormed Europe in 1963, and, in 1964,...",2016

## Preprocessing

### Lowercase

In [4]:
def convert_lower_case(data):
    return np.char.lower(data)

### Stopwords

In [5]:
# Stop words are the most commonly occurring words which don’t give any
# additional value to the document vector. in-fact removing these will
# increase computation and space efficiency.

In [6]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [7]:
def remove_stop_words(data):
    new_text = ""
    stop_words = stopwords.words('english')
    words = word_tokenize(str(data))

    for word in words:
        if word not in stop_words and len(word) > 1:
            new_text = new_text + " " + word
        
    return new_text

### Punctuation

In [8]:
# (Punctuation - dấu chấm câu)are the unnecessary symbols that are in
# our corpus documents, we should be little careful with what we are 
# doing with this. There might be few problems such as U.S — us 
# “United Stated” being converted to “us” after the preprocessing. 
# hyphen and should usually be dealt little carefully. but for this 
# problem statement we are just going to remove these

In [9]:
def remove_punctuation(data):
    symbols = "!\"#$%&()*+-./:;<=>?@[\]^_`{|}~\n"
    for i in range(len(symbols)):
        data = np.char.replace(data, symbols[i], ' ')
        data = np.char.replace(data, "  ", " ")
    data = np.char.replace(data, ',', '')
    return data

In [10]:
def remove_apostrophe(data):
    return np.char.replace(data, "'", "")

### Steamming

In [11]:
def stemming(data):
    new_text = ""
    words = word_tokenize(str(data))
    stemmer = PorterStemmer()
    
    for word in words:
        new_text = new_text + " " + stemmer.stem(word)
    return new_text

In [12]:
data = "The striped bats are hanging on their feet for best"
stemming(data)

' the stripe bat are hang on their feet for best'

### Lemmatizer words

#### Get word pos

In [13]:
s = "i play so well"
nltk.pos_tag(s.split())

[('i', 'JJ'), ('play', 'VBP'), ('so', 'RB'), ('well', 'RB')]

In [14]:
s = "i play game"
nltk.pos_tag(word_tokenize(s))

[('i', 'JJ'), ('play', 'VBP'), ('game', 'NN')]

In [15]:
def get_wordnet_pos(word):

    tag = nltk.pos_tag([word])[0][1][0].upper()
    
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)

#### Lemmatizer words

In [16]:
def lemmatizer_words(data):
    new_text = ""
    lemmatizer = WordNetLemmatizer()
    words = word_tokenize(str(data))
   
    lemmatizer_text = [lemmatizer.lemmatize(w, get_wordnet_pos(w)) for w in words]

    for word in lemmatizer_text:
        new_text = new_text + " " + word
    return  new_text

In [17]:
data = "The striped bats are hanging on their feet for best"
data
lemmatizer_words(data)

' The strip bat be hang on their foot for best'

### Convert Number

In [18]:
def convert_numbers(data):
    tokens = word_tokenize(str(data))
    new_text = ""
    for w in tokens:
        try:
            w = num2words(int(w))
        except:
            a = 0
        new_text = new_text + " " + w
    new_text = np.char.replace(new_text, "-", " ")
    return new_text

In [19]:
data = "123"
convert_numbers(data)

array(' one hundred and twenty three', dtype='<U29')

### Combine all Preprocess step

In [20]:
def preprocess(data):
    data = convert_lower_case(data)
    data = remove_punctuation(data) #remove comma seperately
    data = remove_stop_words(data)
    data = remove_apostrophe(data)
    data = convert_numbers(data)
    data = lemmatizer_words(data)
    data = stemming(data)
    
    data = remove_punctuation(data)
    data = convert_numbers(data)
    data = lemmatizer_words(data)
    data = stemming(data) #needed again as we need to stem the words
    data = remove_punctuation(data) #needed again as num2word is giving few hypens and commas fourty-one
    data = remove_stop_words(data) #needed again as num2word is giving stop words 101 - one hundred and one
    return data

### Word tokenize data

In [21]:
smd['description']

0       Led by Woody, Andy's toys live happily in his ...
1       When siblings Judy and Peter discover an encha...
2       A family wedding reignites the ancient feud be...
3       Cheated on, mistreated and stepped on, the wom...
4       Just when George Banks has recovered from his ...
                              ...
9020    The new installment of the Sharknado franchise...
9021    A man must cope with the loss of his wife and ...
9022    Rustom Pavri, an honourable officer of the Ind...
9023    Village lad Sarman is drawn to big, bad Mohenj...
9024    The band stormed Europe in 1963, and, in 1964,...
Name: description, Length: 9025, dtype: object

In [22]:
processed_text = []
processed_title = []

for index, row in smd.iterrows():
    description = row['description']
    title = row['title']   
    
    processed_text.append(word_tokenize(str(preprocess(description))))
    processed_title.append(word_tokenize(str(preprocess(title))))

In [23]:
processed_text[:1]

[['lead',
  'woodi',
  'andi',
  'toy',
  'live',
  'happili',
  'room',
  'andi',
  'birthday',
  'bring',
  'buzz',
  'lightyear',
  'onto',
  'scene',
  'afraid',
  'lose',
  'place',
  'andi',
  'heart',
  'woodi',
  'plot',
  'buzz',
  'circumst',
  'separ',
  'buzz',
  'woodi',
  'owner',
  'duo',
  'eventu',
  'learn',
  'put',
  'asid',
  'differ']]

In [24]:
processed_title[:10]

[['toy', 'stori'],
 ['jumanji'],
 ['grumpier', 'old', 'men'],
 ['wait', 'exhal'],
 ['father', 'bride', 'part', 'ii'],
 ['heat'],
 ['sabrina'],
 ['tom', 'huck'],
 ['sudden', 'death'],
 ['goldeney']]

In [25]:
smd = smd.reset_index()
titles = smd['title']
indices = pd.Series(smd.index, index=smd['title'])

## Create Corpus Bag

In [26]:
# Mục đích là để tạo ra một bộ từ điển liệt kê tất cả các các từ và danh sách các bộ phim có sự xuất hiện của nó 


DF = {}

for i in range(N):
    tokens = processed_text[i]
    for w in tokens:
        try:
            DF[w].add(i)
        except:
            DF[w] = {i} #Trừ khi trong DF[w] có tồn tại i
    
    tokens = processed_title[i]
    for w in tokens:
        try:
            DF[w].add(i)
        except:
            DF[w] = {i}

In [27]:
# tính tần xuất xuất hiện của từ đó trên toàn bộ danh sách bộ phim 
for i in DF:
    DF[i] = len(DF[i])

In [28]:
total_vocab_size = len(DF)
total_vocab_size

22336

In [29]:
total_vocab = [x for x in DF]
total_vocab[:10]

['lead',
 'woodi',
 'andi',
 'toy',
 'live',
 'happili',
 'room',
 'birthday',
 'bring',
 'buzz']

In [30]:
def doc_freq(word):
    c = 0
    try:
        c = DF[word]
    except:
        pass
    return c

## Calcualte DF-IDF

### Calcalate DF-IDF from description

In [31]:
doc  = 0
tf_idf = {}

for i in range(N):
    
    tokens = processed_text[i]
    
    # counting frequence the number of word in a document
    counter = Counter(tokens + processed_title[i])
    words_count = len(tokens + processed_title[i])
    
    for token in np.unique(tokens):
        tf = counter[token]/words_count
        df = doc_freq(token)
        idf = np.log((N)/(df + 1))
        
        tf_idf[doc, token] = tf*idf
    
    doc += 1
    
tf_idf[(0,"toy")]

0.3321095381255287

### Calcalate DF-IDF from title

In [32]:
tf_idf_title = {}
doc = 0

for i in range(N):
    
    tokens = processed_title[i]
    counter = Counter(tokens + processed_text[i])
    words_count = len (tokens + processed_text[i])
    
    for token in np.unique(tokens):
        tf = counter[token]/words_count
        df = doc_freq(token)
        idf = np.log(N/(df + 1))
        
        tf_idf_title[doc, token] = tf*idf
    doc += 1 
    
tf_idf_title[(0,"toy")]

0.3321095381255287

### Merging the TF-IDF according to weights

In [33]:
#TF-IDF(document) = TF-IDF(body) * alpha + TF-IDF(title) * (1-alpha)

In [34]:
for i in tf_idf:
    tf_idf[i] *= alpha

for i in tf_idf_title:
    tf_idf_title[i] *= (1 - alpha)

In [35]:
# shitty code
# thực ra nó lặp trên tf_idf nếu thằng nào mà có mặt trên cả title và body thì if_idf của nó tính bằng body và
# title đều như nhau.
# nếu 1 thằng word nào đó mà không có mặt trên tf_idf_title thì tf_idf_title[i] không tồn tại => safe, nó sẽ có 
# giá trị bằng tf_idf trên body nhân với alpha

In [36]:
for i in tf_idf_title:
    if i in tf_idf: tf_idf[i] = tf_idf[i] + tf_idf_title[i]
    else : tf_idf[i] = tf_idf_title[i]

tf_idf[(0,"toy")]

0.3321095381255287

### Mathching score method

#### Matching score with query string

In [37]:
# ý tưởng của mathching score là tìm tất cả các ký tự giống nhau giữa từng đoạn văn bản và query rồi tính tổng
# giá trị của các ký tự đó (đối với mỗi đoạn văn bản một) rồi lập list xếp theo giá trị query_weights

def matching_score(query):
    preprocessed_query = preprocess(query)
    tokens = word_tokenize(str(preprocessed_query))
    
    print("Matching score")
    print("\n Query:", query)
    print("")
    print(tokens)
    
    query_weights = {}
    
    for key in tf_idf:
        if key[1] in tokens:
            try: 
                query_weights[key[0]] += tf_idf[key]
            except:
                query_weights[key[0]] = tf_idf[key]
    
    query_weights = sorted(query_weights.items(), key=lambda x: x[1], reverse =True)
    
    
    print("")
    
    
    for i in query_weights[:10]:
         print(smd.iloc[i[0]]['title'])

In [38]:
matching_score("the mafia god father ")

Matching score

 Query: the mafia god father

['mafia', 'god', 'father']

Jane Austen's Mafia!
Dear God
Oh, God!
How I Killed My Father
Fathers' Day
Dragon Ball Z: Battle of Gods
The Lawnmower Man
Black God, White Devil
In the Name of the Father
Father of the Bride

#### Matching Score with movie tf_idf value

In [39]:
def get_movie_query(title):
    idx = indices[title]
    tokens = []
    
    for i in tf_idf:
        if i[0] == idx: tokens.append(i[1])
    
    return tokens

In [40]:
def matching_score_ver1(title):
    tokens = get_movie_query(title)
    
    query_weights = {}
    
    for key in tf_idf:
        if key[1] in tokens:
            try:
                query_weights[key[0]] += tf_idf[key]
            except:
                query_weights[key[0]] = tf_idf[key]
   
    query_weights = sorted(query_weights.items(), key=lambda x: x[1], reverse = True)
    # x[1] is matching score value
    
    print("")
    
    for i in query_weights[1:10]:
        print(smd.iloc[i[0]]['title'])

In [41]:
matching_score_ver1("The Dark Knight")

The Dark Knight Rises
Batman: The Dark Knight Returns, Part 2
Henry's Crime
Citizen's Band
Batman
Batman Returns
Batman: Under the Red Hood
Batman Begins
Batman: Mask of the Phantasm

### TF Cosine Similarity Ranking

In [42]:
# hàm tính đố tương đồng giữa 2 vector 
def cosine_sim_calculate(a,b):
    cos_sim = np.dot(a,b)/(np.linalg.norm(a)*np.linalg.norm(b))
    return cos_sim

#### Vectorizing tf-idf

In [43]:
# lập danh sách các vector 
# ma trận D ban đầu có giá trị toàn bằng 0, sau đó chúng ta sẽ duyệt tf_idf và trám các giá trị có tồn tại vào D
D = np.zeros((N, total_vocab_size))
for i in tf_idf:
    try:
        ind = total_vocab.index(i[1]) # vị trí của từ trong vocabolary 
        D[i[0]][ind] = tf_idf[i] 
    except:
            pass

In [44]:
# tạo vector từ query, nếu từ nào không xuất hiện thì tần suất xuất hiện của nó bằng 0
def gen_vector(tokens):
    
    Q = np.zeros(total_vocab_size)
    
    counter = Counter(tokens)
    words_count = len(tokens)
    
    
    for token in np.unique(tokens):
        tf = counter[token]/words_count
        df = doc_freq(token)
        idf = math.log(N/(df + 1))
        
        try:
            ind = total_vocab.index(token)
            Q[ind] = tf*idf
        except:
            pass
    
    return Q

#### Cosine similarity with query string

In [45]:
#query = "Dark night"

#preprocessed_query = preprocess(query)
#tokens = word_tokenize(str(preprocessed_query))
#array =  gen_vector(tokens)

#for i in array: 
#    print(i)

In [46]:
def cosine_similarity(k, query):
    print("Cosine Similarity")
    preprocessed_query = preprocess(query)
    tokens = word_tokenize(str(preprocessed_query))
    
    print("\n Query:", query)
    print("")
    print(tokens)
    
    d_cosines = []
    
    query_vector = gen_vector(tokens)
    
    for d in D:
        d_cosines.append(cosine_sim_calculate(query_vector, d))
    
    out = np.array(d_cosines).argsort()[-k:][::-1]
    
    print("")
    
    for i in out:
       print(smd.iloc[i]['title'])

In [47]:
cosine_similarity(10, "The Dark Knight")

Cosine Similarity

 Query: The Dark Knight

['dark', 'knight']

Last Knights
The Dark Knight Rises
The Hollywood Knights
A Knight's Tale
The Seeker: The Dark Is Rising
Dark Water
The Dark Knight
Dark Water
Black Knight
A Shot in the Dark

In [48]:
Q = cosine_similarity(10, "The Godfather")

Cosine Similarity

 Query: The Godfather

['godfath']

The Godfather: Part III
Tokyo Godfathers
The Godfather
Bright Eyes
The Godfather: Part II
Things to Do in Denver When You're Dead
Jane Austen's Mafia!
Free Enterprise
The Freshman
Cinderfella

#### Cosine similarity with Movie vector

#### Gen corpus matrix vector using  sklearn.linear_kernel

In [49]:
cosine_sim = linear_kernel(D, D)

In [50]:
cosine_sim[0]

array([0.31099556, 0.00285685, 0.        , ..., 0.        , 0.        ,
       0.00087735])

#### Gen corpus matrix vector from scatch

In [51]:
def cosine_similarity_ver2(k,title):
    idx = indices[title]
    d_cosines = []
    
    for d in D:
        d_cosines.append(cosine_sim_calculate(D[idx],d))
    
    out = np.array(d_cosines).argsort()[::-1]
    
    return out[1:k]

In [58]:
result = cosine_similarity_ver2(11,"The Dark Knight")
#smd.iloc[result].title

In [53]:
f = open('Store_Description_contentBased.pckl', 'wb')
pickle.dump([tf_idf,indices], f)

f.close()

In [54]:
np.save('tf_idf_vector_matrix.npy', D)