# MOVIE RECOMMENDER ENGINE

## Library

In [1]:
%matplotlib inline
import ast
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import seaborn as sns
import operator


from IPython.display import Image, HTML, display
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise.model_selection import cross_validate
from surprise import Reader, SVD, Dataset


import warnings; warnings.simplefilter('ignore')

## LOAD DataFrame

In [2]:
md = pd.read_csv('../the-movies-dataset/movies_metadata_equal_ratings.csv')
train = pd.read_csv('../the-movies-dataset/ratings_train.csv')
Yhat = np.load('tf_idf_pred_rating.npy')

In [3]:
N = len(md)

In [4]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 26 columns):
adult                    9025 non-null bool
belongs_to_collection    1670 non-null object
budget                   9025 non-null int64
genres                   9025 non-null object
homepage                 1954 non-null object
id                       9025 non-null int64
imdb_id                  9025 non-null object
original_language        9025 non-null object
original_title           9025 non-null object
overview                 9013 non-null object
popularity               9025 non-null float64
poster_path              9022 non-null object
production_companies     9025 non-null object
production_countries     9025 non-null object
release_date             9025 non-null object
revenue                  9025 non-null float64
runtime                  9025 non-null float64
spoken_languages         9025 non-null object
status                   9023 non-null object
tagline                  6983 non-null object
title                    9025 non-null object
video                    9025 non-null bool
vote_average             9025 non-null float64
vote_count               9025 non-null float64
description              9013 non-null object
year                     9025 non-null int64
dtypes: bool(2), float64(5), int64(3), object(16)
memory usage: 1.7+ MB

In [5]:
md.head().transpose()[:20]

,0,1,2,3,4
adult,False,False,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"{'id': 96871, 'name': 'Father of the Bride Col..."
budget,30000000,65000000,0,16000000,0
genres,"['Animation', 'Comedy', 'Family']","['Adventure', 'Fantasy', 'Family']","['Romance', 'Comedy']","['Comedy', 'Drama', 'Romance']",['Comedy']
homepage,http://toystory.disney.com/toy-story,NaN,NaN,NaN,NaN
id,862,8844,15602,31357,11862
imdb_id,tt0114709,tt0113497,tt0113228,tt0114885,tt0113041
original_language,en,en,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...
popularity,21.9469,17.0155,11.7129,3.85949,8.38752
poster_path,<img src='http://image.tmdb.org/t/p/w185//rhIR...,<img src='http://image.tmdb.org/t/p/w185//vzmL...,<img src='http://image.tmdb.org/t/p/w185//6ksm...,<img src='http://image.tmdb.org/t/p/w185//16XO...,<img src='http://image.tmdb.org/t/p/w185//e64s...
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10
revenue,3.73554e+08,2.62797e+08,0,8.14522e+07,7.65789e+07
runtime,81,104,101,127,106
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...

In [6]:
md['genres'] = md['genres'].apply(ast.literal_eval)

## Demographic Filtering - Weighted Rating

In [7]:
# IMDB Top Movies Chart Fomula : 
# WR = (v/(v+m).R) + (m/(v+m).C)
# v : số  lượng người bình chọn cho 1 bộ phim 
# m : số lượng bình chọn cần thiếu để được xét vào list - Một phim phải 
# có lượng vote > 95% các phim khác trong list
# R : rating

In [8]:
vote_counts = md[md['vote_count'].notnull()]['vote_count']

In [9]:
vote_averages = md[md['vote_average'].notnull()]['vote_average']

In [10]:
# mean() function can be used to calculate 
# mean/average of a given list of numbers

C = vote_averages.mean()

In [11]:
# rating trung binh tren toan tap dataset
C

6.362227146814405

In [12]:
# Tính phân vị - tìm giá trị m sao cho 95% giá trị trong list bé hơn m
# 5% còn lại lớn hơn nó 
m = vote_counts.quantile(0.95)

In [13]:
m

2085.599999999995

In [14]:
qualified = md[(md['vote_count'] >= m) & (md['vote_count'].notnull()) 
            & (md['vote_average'].notnull())]

In [15]:
qualified = qualified[['poster_path','title','year','vote_count','vote_average','genres']]

In [16]:
qualified.shape

(452, 6)

In [17]:
# sumary : một phim cần phải đạt trên 434 votes để  được xét 
#        : điểm rating trung bình là 5.2 
#        : có 2274 phim đạt yêu cầu

In [18]:
def weighted_rating(x,m,C):
    v = x['vote_count']
    R = x['vote_average']
    
    return (v/(m+v) * R) + (m/(m+v) * C)

In [19]:
qualified['wr'] = qualified.apply(lambda x: weighted_rating(x,m,C), axis=1)

In [20]:
# ascending : tăng dần 

qualified = qualified.sort_values('wr', ascending = False)

In [21]:

HTML(qualified.head(10).to_html(escape = False))

In [22]:
s = md.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = md.drop('genres', axis=1).join(s)

In [23]:
gen_md.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22321 entries, 0 to 9024
Data columns (total 26 columns):
adult                    22321 non-null bool
belongs_to_collection    4553 non-null object
budget                   22321 non-null int64
homepage                 4957 non-null object
id                       22321 non-null int64
imdb_id                  22321 non-null object
original_language        22321 non-null object
original_title           22321 non-null object
overview                 22298 non-null object
popularity               22321 non-null float64
poster_path              22314 non-null object
production_companies     22321 non-null object
production_countries     22321 non-null object
release_date             22321 non-null object
revenue                  22321 non-null float64
runtime                  22321 non-null float64
spoken_languages         22321 non-null object
status                   22317 non-null object
tagline                  17830 non-null object
title                    22321 non-null object
video                    22321 non-null bool
vote_average             22321 non-null float64
vote_count               22321 non-null float64
description              22298 non-null object
year                     22321 non-null int64
genre                    22286 non-null object
dtypes: bool(2), float64(5), int64(3), object(16)
memory usage: 4.3+ MB

### Filter By Genre

In [24]:
def build_chart(genre, percentile):
    df = gen_md[gen_md['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())]
    qualified = qualified[['poster_path','title','year','vote_count','vote_average','genre']]
    
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: weighted_rating(x,m,C), axis=1)
    
    qualified = qualified.sort_values('wr', ascending= False)
    
    return qualified

In [25]:
pop_gen = pd.DataFrame(gen_md['genre'].value_counts()).reset_index()
pop_gen.column = ['genre','movies']

In [26]:
list_genre =  pop_gen['index']
list_genre.shape

(20,)

In [27]:
HTML(build_chart(list_genre.loc[0],0.9).head(10).to_html(escape = False))

## Movie Description Based Recommender

In [28]:
def graph_result(result):
    md_graph = md[['poster_path','title','description','year','vote_count','vote_average']].copy()
    list_result_dataframe = []
     
    for i in result:
         list_result_dataframe.append(md_graph.iloc[i]) 

    list_result_dataframe = pd.DataFrame(list_result_dataframe)                
    return HTML(list_result_dataframe.to_html(escape = False))

### Content-Based By Title And Description Using Sklearn

In [29]:
md.description = md['description'].fillna('')

In [30]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1,2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(md['description'])

In [31]:
tfidf_matrix.shape
# có 9099 vector tương ướng với 9099 overview,
# mỗi vector có 268124 chiều

(9025, 266476)

In [32]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
# Compute the cosine similarity matrix

In [33]:
cosine_sim[0]

array([1.        , 0.00679441, 0.        , ..., 0.        , 0.        ,
       0.00478805])

In [34]:
cosine_sim[1]

array([0.00679441, 1.        , 0.01528831, ..., 0.        , 0.        ,
       0.00368484])

In [35]:
md = md.reset_index()
titles = md['title']
indices = pd.Series(md.index, index=md['title'])

In [36]:
indices

title
Toy Story                                                0
Jumanji                                                  1
Grumpier Old Men                                         2
Waiting to Exhale                                        3
Father of the Bride Part II                              4
                                                      ...
Sharknado 4: The 4th Awakens                          9020
The Last Brickmaker in America                        9021
Rustom                                                9022
Mohenjo Daro                                          9023
The Beatles: Eight Days a Week - The Touring Years    9024
Length: 9025, dtype: int64

In [37]:
md[md['title'] == "The Avengers" ]

,index,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,description,year
1707,1707,False,NaN,60000000,[Thriller],NaN,9320,tt0118661,en,The Avengers,...,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Saving the World in Style.,The Avengers,False,4.4,205.0,"British Ministry agent John Steed, under direc...",1998
7839,7839,False,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[Science Fiction, Action, Adventure]",http://marvel.com/avengers_movie/,24428,tt0848228,en,The Avengers,...,143.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some assembly required.,The Avengers,False,7.4,12000.0,When an unexpected enemy emerges and threatens...,2012

In [38]:
def get_recommendations(k,title):
    # Get the index of the movie that matches the title
    idx = []
    idx.append(indices[title])
    result = {}
    
    for i in idx:
                # Get the pairwsie similarity scores of all movies with that movie
                sim_scores = list(enumerate(cosine_sim[i]))

                # Sort the movies based on the similarity scores
                sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

                # Get the scores of the 10 most similar movies
                #(element number 0 is the movie it self)
                sim_scores = sim_scores[1:11]

                movie_indices = [k[0] for k in sim_scores]
                result[i,title] = movie_indices[:k]
                
    return result

In [39]:
result = get_recommendations(10,'The Dark Knight')
html = ""

for i in result:
        print(i[0]," - ",i[1])
        display(graph_result(result[i]))
        print("-------------------------------")

6873  -  The Dark Knight

-------------------------------

### Content-Based By Title And Description From Scatch

In [40]:
from ipynb.fs.full.Description_Title_Content_Base_Recommender import cosine_similarity_ver2
cosine_similarity_ver2(11,"The Dark Knight")

array([7901, 8134,  132, 8196, 6125, 2578, 1113,  524, 7871, 7537])

In [41]:
graph_result(list(cosine_similarity_ver2(11,"The Dark Knight")))

### User Vector

In [42]:
ratings_train = train[['userId','id','rating','movieIndex']]
ratings_matrix = ratings_train.values

In [43]:
# this fuction return movie_index in meta_data_dataset and ratings of user  
def get_items_rated_by_user(rate_matrix, user_id):
    y = rate_matrix[:,0] # get all the value in user_id column
    # get list of user_id index in y which value equal input 
    # user_id
    ids = np.where(y == user_id)[0]
    # get list movie_id matching user_id 
    item_ids = rate_matrix[ids, 3]
    item_ids = [int(i) for i in item_ids]
    
    scores = rate_matrix[ids,2]
    return (item_ids, scores)

In [44]:
def get_list_movie_have_not_rated(rate_matrix, userId,movie_count):
    user_rated, score = get_items_rated_by_user(rate_matrix,userId)
    result = []
    for i in range(movie_count):
         if i not in user_rated: result.append(i)
    return (userId, result)

In [45]:
def get_pred_rating(rate_matrix, userId,movie_count):
    userId, list_not_rate =  get_list_movie_have_not_rated(rate_matrix, userId,movie_count)
    result = {}
    for i in list_not_rate:
        result[i] = Yhat[i, userId]
    
    result = sorted(result.items(), key=operator.itemgetter(1),reverse=True)
    list_movie = []
    for i in result:
        list_movie.append(i[0])
    return list_movie

In [46]:
#result,score = get_items_rated_by_user(ratings_matrix,2)
#display(graph_result(result))

In [47]:
result = get_pred_rating(ratings_matrix,1,N)
graph_result(result[0:10])

## Metadata Based Recommender

### Merging cast crew keyword data into main dataframe

In [48]:
smd =  pd.read_csv('../the-movies-dataset/movies_metadata_merge_crew_keywords.csv')
graph = smd[['poster_path','title','year','vote_count','vote_average','genres']]

### Using Sklearn Library

In [49]:
from ipynb.fs.full.Cast_Director_Gernes_Content_Base_Recommender import  get_recommendations
result = get_recommendations("The Dark Knight",11)
for i in result:
    list_movie_result = result[i] 
graph_result(list_movie_result)

### From Scatch

In [50]:
from ipynb.fs.full.Cast_Director_Gernes_Content_Base_Recommender import  get_recommendations_ver2

In [51]:
result = get_recommendations_ver2("The Dark Knight",11)
for i in result:
    list_movie_result = result[i] 
graph_result(list_movie_result)

## Collaborative Filtering